{% extends "people/includes/intros/base.html" %}
{% load i18n %}

{% load humanize %}

{% block intro_line %}
    {% blocktrans trimmed with person=person.name position=person.featured_candidacy.list_position|ordinal party_name=candidacy.party_name election_name=candidacy.election.name %}
        {{ person }} {{ verb }} the
        {{ position }} place
        candidate for the <a href="{{ candidacy.party.get_absolute_url }}"
            title="{{ party_name }}">{{ party_name }}</a>
        in the <a href="{{ candidacy.election.get_absolute_url }}"
            title="{{ election_name }}">
            {{ election_name }}</a>.
    {% endblocktrans %}
{% endblock %}
