{% extends "people/includes/intros/base.html" %}
{% load i18n %}

{% block intro_line %}

    {% if verb == "is" %}
        {% blocktrans trimmed %}
            {{ person_name }} is a <a href="{{ party_url }}" title="{{ party }}">{{ party }}</a>
            candidate in <a href="{{ post_url }}">{{ post_label }}</a>
            constituency in the <a href="{{ election_url }}" title="{{ election_name }}">{{ election_name }}</a>.
        {% endblocktrans %}
    {% else %}
        {% blocktrans trimmed %}
            {{ person_name }} was a <a href="{{ party_url }}" title="{{ party }}">{{ party }}</a>
            candidate in <a href="{{ post_url }}">{{ post_label }}</a>
            constituency in the <a href="{{ election_url }}" title="{{ election_name }}">{{ election_name }}</a>.
        {% endblocktrans %}
    {% endif %}


{% endblock %}
