{% block intro_line %}
    {{ person.name }} {{ verb }} a {% if candidacy.party.get_absolute_url %}<a href="{{ candidacy.party.get_absolute_url }}" title="{{ candidacy.party_name }}">{{ candidacy.party_name }}</a>{% else %}{{ candidacy.party_name}}{% endif %} candidate in {% if candidacy.post_election.get_absolute_url %}<a href="{{ candidacy.post_election.get_absolute_url }}">{{ candidacy.post.label }}</a>{% else %}{{ candidacy.post.label }}{% endif %} in the {% if candidacy.election.get_absolute_url %}<a href="{{ candidacy.election.get_absolute_url }}" title="{{ candidacy.election.name }}">{{ candidacy.election.nice_election_name }}</a>{% else %}{{ candidacy.election.nice_election_name }}{% endif %}.
{% endblock %}
{% if candidacy.votes_cast %}
    {% include "people/includes/intros/_votes_cast.html" %}
{% endif %}
