DATABASES = {
    "default": {
        "ENGINE": "django.db.backends.postgresql_psycopg2",
        "NAME": "wcivf",
        "USER": "wcivf",
        "PASSWORD": "wcivf",
    }
}


CACHES = {
    'default': {
        'BACKEND': 'django.core.cache.backends.dummy.DummyCache',
    }
}

REDIS_LOG_POSTCODE = False

ALLOWED_HOSTS = ["*"]

YNR_BASE = "https://candidates.democracyclub.org.uk"

EE_BASE = "https://elections.democracyclub.org.uk"

INTERNAL_IPS = ['127.0.0.1']

SECRET_KEY = "not_for_production"

DEBUG = True

EMAIL_SIGNUP_BACKEND = "local_db"
