<div class="ds-card">
    <form id="feedback_form" method="post" action="{% url 'feedback_form_view' %}" novalidate>
        {% csrf_token %}
        {{ feedback_form.token }}
        {{ feedback_form.source_url }}
        <h5>
            <span aria-hidden="true">🔎</span>
            Did you find what you were looking for?
        </h5>
        {% for choice in feedback_form.found_useful %}
            {{ choice.tag }}
            <label class="link-button" for="{{ choice.id_for_label }}"> {{ choice.choice_label }}</label>
        {% endfor %}

        <div>
            <p>
                What other websites/sources have you used to
                research the election?
            </p>
            {{ feedback_form.sources }}
        </div>

        <div>
            <p>Can you tell us anything more?</p>
            {{ feedback_form.comments }}
        </div>
        <button type="submit" class="ds-button-pink">Send feedback</button>
    </form>
</div>
