{% load i18n %}

<div class="ds-card">
    <form id="feedback_form" method="post" action="{% url 'feedback_form_view' %}" novalidate>
        {% csrf_token %}
        {{ feedback_form.token }}
        {{ feedback_form.source_url }}
        <h5>
            <span aria-hidden="true">🔎</span>
            {% trans "Did you find what you were looking for?" %}
        </h5>
        {% for choice in feedback_form.found_useful %}
            {% blocktrans %}{{ choice.tag }}{% endblocktrans %}
            <label class="link-button" for="{{ choice.id_for_label }}">{% blocktrans %}{{ choice.choice_label }}{% endblocktrans %}</label>
        {% endfor %}

        <h5>
            <span aria-hidden="true">🗳️</span>
            {% trans "Has this information made you more likely to vote?" %}
        </h5>
        {% for choice in feedback_form.vote %}
            {% blocktrans %}{{ choice.tag }}{% endblocktrans %}
            <label class="link-button" for="{{ choice.id_for_label }}">{% blocktrans %}{{ choice.choice_label }}{% endblocktrans %}</label>
        {% endfor %}

        <div>
            <p>
                {% trans "What other websites/sources have you used to
                research the election?" %}
            </p>
            {% blocktrans %}{{ feedback_form.sources }}{% endblocktrans %}
        </div>

        <div>
            <p>{% trans "Can you tell us anything more?" %}</p>
            {% blocktrans %}{{ feedback_form.comments }}{% endblocktrans %}
        </div>
        <button type="submit" class="ds-button-pink">{% trans "Send feedback" %}</button>
    </form>
</div>
