{% load markdown_deux_tags %}
{% load humanize %}
{% load static %}

{% if object.metadata.cancelled_election.title %}
    <h2>{{ object.metadata.cancelled_election.title }}</h2>
{% else %}
    <div>
        {% if object.winner_count == object.people.count %}
            <b>Uncontested Election</b>

            <p>This election was uncontested because the number of candidates who stood was equal to the number of available seats.
                There {{ object.winner_count|pluralize:"is,are" }} {{ object.winner_count|apnumber }}
                seat{{ object.winner_count|pluralize }} in this ward/division, and only
                {{ object.people.count|apnumber }} candidate{{ object.people|pluralize }}.</p>

            <p>No votes will be cast, and the candidate{{ object.people|pluralize }} below have been automatically declared
                the winner{{ object.people|pluralize }}.
        {% else %}
            {% if object.people.count >= 1 %}
                <b>Uncontested and Rescheduled Election</b>

                <p>This election was uncontested because the number of candidates who stood was fewer than the number of available seats.
                    There {{ object.winner_count|pluralize:"is,are"}} {{ object.winner_count|apnumber }}
                    seat{{ object.winner_count|pluralize }} in this ward/division, and only
                    {{ object.people.count|apnumber }} candidate{{ object.people|pluralize }}.</p>

                <p>No votes will be cast, and the candidate{{ object.people|pluralize }} below
                    ha{{ object.people|pluralize:"s,ve" }} been automatically declared the
                    winner{{ object.people|pluralize }}.
                    A new election to fill the unclaimed seat{{ object.people|pluralize }}
                    will be held within 35 working days of the original election date.</p>
            {% else %}
                <b>Rescheduled Election</b>

                <p>This election will not take place because <a href="{{ object.ynr_link }}">no candidates have been nominated to stand</a>.
                    A new election to fill the unclaimed seat{{ object.winner_count|pluralize }} will be held within 35 working days of the original election date.</p>
            {% endif %}
        {% endif %}
    </div>
{% endif %}

<p>
    {% if object.replaced_by %}
        {% if object.election.in_past %}
            It was rescheduled for
        {% else %}
            It will now take place on
        {% endif %}
        <a href="{{ object.replaced_by.get_absolute_url }}">
            {{ object.replaced_by.election.election_date|date:"j F Y" }}.
        </a>
    {% endif %}


    {% if object.metadata.cancelled_election.url %}
        <a href="{{ object.metadata.cancelled_election.url }}">Read more</a>
    {% endif %}

</p>

<p>
    {% if object.metadata.cancelled_election.detail %}
        {{ object.metadata.cancelled_election.detail }}
    {% endif %}
</p>

