{% load markdown_filter %}
{% load humanize %}
{% load static %}
{% load i18n %}

{% if not object.contested %}
    {% comment %} Case 1: Election cancelled, uncontested, number of candidates equal seats, no metadata{% endcomment %}
    {% if object.winner_count == object.people.count %}
        <h4>{% trans "Uncontested Election" %}</h4>

        <p>
            {% blocktrans trimmed with is_or_are=object.winner_count|pluralize:"is,are" winner_count=object.winner_count|apnumber post=object.post.full_label num_people=object.people.count|apnumber pluralise_candidates=object.people|pluralize pluralise_seat=object.winner_count|pluralize %}
                This election was uncontested because the number of candidates who stood was equal to the number of available seats.
                There {{ is_or_are }} {{ winner_count }} seat{{ pluralise_seat }} in {{ post }}, and only {{ num_people }} candidate{{ pluralise_candidates }}.
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans trimmed with pluralise_candidates=object.people|pluralize has_or_have=object.winner_count|pluralize:"s,ve" %}
                No votes will be cast, and the candidate{{ pluralise_candidates }} below ha{{ has_or_have }} been automatically declared
                the winner{{ pluralise_candidates }}.
            {% endblocktrans %}
        </p>

        {% if object.display_as_party_list %}
            {% include "elections/includes/_people_list_with_lists.html" with people=object.people %}
        {% else %}
            {% include "elections/includes/_people_list.html" with people=object.people %}
        {% endif %}
        {% comment %} Case 2: Election cancelled, uncontested and there are fewer candidates than seats, no metadata {% endcomment %}
    {% elif object.winner_count > object.people.count %}

        <h4>{% trans "Uncontested and Rescheduled Election" %}</h4>

        <p>
            {% blocktrans trimmed with winner_count=object.winner_count|apnumber post_label=object.post.full_label num_people=object.people.count|apnumber count counter=object.people.count %}
                This election was uncontested because the number of candidates who stood was fewer than the number of available seats.
                There is {{ winner_count }} seat in {{ post_label }}, and {{ num_people }} candidate.
            {% plural %}
                This election was uncontested because the number of candidates who stood was fewer than the number of available seats.
                There are {{ winner_count }} seats in {{ post_label }}, and {{ num_people }} candidates.
            {% endblocktrans %}
        </p>
        {% comment %} Case 3: Election cancelled, uncontested and zero candidates, no metadata {% endcomment %}
        {% if object.people %}
            <p>
                {% blocktrans trimmed with has_or_have=object.people|pluralize:"s,ve" plural=object.people|pluralize %}
                    No votes will be cast, and the candidate{{ plural }} below
                    ha{{ has_or_have }} been automatically declared the
                    winner{{ plural }}.

                    A new election to fill the unclaimed seat{{ plural }}
                    will be held within 35 working days of the original election date.
                {% endblocktrans %}
            </p>
            {% if object.display_as_party_list %}
                {% include "elections/includes/_people_list_with_lists.html" with people=object.people %}
            {% else %}
                {% include "elections/includes/_people_list.html" with people=object.people %}
            {% endif %}
        {% endif %}
    {% endif %}
    {% comment %} Case 4: Contested but cancelled for other reasons {% endcomment %}
{% else %}
    <h4>{% trans "Cancelled Election" %}</h4>
    <p>{% trans "This election was cancelled." %}</p>
{% endif %}

<p>
    {% if object.replaced_by %}
        {% if object.election.in_past %}
            {% trans "It was rescheduled for" %}
        {% else %}
            {% trans "It will now take place on" %}
        {% endif %}
        <a href="{{ object.replaced_by.get_absolute_url }}">
            {{ object.replaced_by.election.election_date|date:"j F Y"  }}.
        </a>
    {% endif %}



    {% if object.metadata.cancelled_election.url %}
        <a href="{{ object.metadata.cancelled_election.url }}">{% trans "Read more" %}</a>
    {% endif %}

</p>
{% comment %} Metadata should not repeat the pre-formatted messages below,
but rather provide extra information that is not already present in the logic
{% endcomment %}
<p>
    {% if object.metadata.cancelled_election.detail %}
        {{ object.metadata.cancelled_election.detail }}
    {% endif %}
</p>
