{% load i18n %}
{% regroup elections by election_date as elections_by_type %}
{% for election_group in elections_by_type %}
    <h3 class="grouper-date">
        {{ election_group.grouper }}
    </h3>
    <div id="election-urls" >
        {% for election in election_group.list %}
            <ul style="list-style: none;">
                <li>
                    <a class="{{ election.election_type }}" href="{{ election.get_absolute_url }}">{{ election.nice_election_name }}</a>
                </li>
            </ul>
        {% endfor %}
    </div>
{% endfor %}
