{% load humanize %}
{% load i18n %}

{% comment %}
Voting system is currently one of:

AMS: Additional Member System
FPTP: First-past-the-post
sv: Supplementary Vote
STV: Single Transferable Vote
PR-CL: Closed List 
{% endcomment %}

<ul class="ds-details">
    <li style="list-style: none;">
        <details>
            <summary>{% trans 'How you vote' %}</summary>
            <p>
                {% if voting_system.get_absolute_url %}
                    {% blocktrans trimmed with voting_system_url=voting_system.get_absolute_url voting_system_name=voting_system.get_name %}
                        This election uses <a href="{{ voting_system_url }}">{{ voting_system_name }}</a>.
                    {% endblocktrans %}
                {% else %}
                    {% blocktrans trimmed with voting_system_name=voting_system.get_name %}
                        This election uses {{ voting_system_name }}.
                    {% endblocktrans %}
                {% endif %}
            </p>

            {% if voting_system.slug == "FPTP" %}
                <p>
                    {% if postelection.winner_count > 1 %}
                        {% blocktrans trimmed %}Mark an X in the box for your preferred candidate.{% endblocktrans %}
                    {% else %}
                        {% blocktrans trimmed %}Mark an X in the box for your preferred candidates.{% endblocktrans %}
                    {% endif %}
                </p>
                {% if postelection.people|length > 1 %}
                    <p>
                        {% blocktrans trimmed with winner_count=postelection.winner_count|apnumber count counter=postelection.winner_count %}
                            You can mark up to {{ winner_count}} candidate.
                        {% plural %}
                            You can mark up to {{ winner_count }} candidates.
                        {% endblocktrans %}
                    </p>
                {% endif %}
            {% endif %}

            {% if voting_system.slug == "STV" %}
                <p>
                    {% blocktrans trimmed %}
                        Rank the candidates by your preference: 1, 2, 3…
                        You don't have to rank all the candidates, but you must at least mark your first choice.
                    {% endblocktrans %}
                </p>
            {% endif %}

            {% if voting_system.slug == "sv" %}
                <p>
                    {% blocktrans trimmed %}
                        Mark an X in the first column for your first choice.
                        Mark an X in the second column for your second choice.
                        You do not have to mark a second choice.
                    {% endblocktrans %}
                </p>
            {% endif %}

            {% if voting_system.slug == "PR-CL" %}
                <p>
                    {% blocktrans trimmed %}
                        Mark an X in the box for one party or independent candidate.
                    {% endblocktrans %}
                </p>
            {% endif %}

            {% if is_regional %}
                <p>
                    {% blocktrans trimmed %}
                        Mark an X in the box next to your preferred party or independent candidate
                    {% endblocktrans %}
                </p>
            {% endif %}

            {% if is_constituency %}
                <p>{% blocktrans trimmed %}Mark an X in the box for your preferred candidate.{% endblocktrans %}</p>
            {% endif %}

            <p>{% blocktrans trimmed %}Read the instructions at the top of your ballot paper carefully.{% endblocktrans %}</p>
            <p>{% blocktrans trimmed %}For more information, visit <a href="https://www.electoralcommission.org.uk/i-am-a/voter/how-cast-your-vote">The Electoral Commission's website</a> or ask an official at your polling station.{% endblocktrans %}</p>
        </details>
    </li>
</ul>
