{% load static %}
{% load humanize %}
{% regroup people.by_party by party.party_name as people_by_party %}

<div class="ds-scope">
  {% for person_post in people_by_party %}
    {% if person_post.list.0.party.is_independent %}
      {#  This is a special case where we don't want to group independants, but show a single card per person  #}
      {% for pp in person_post.list %} 
        <div class="ds-padded-large">
          <div class="ds-with-sidebar"> 
            <div>
              <div class="ds-sidebar" style="flex-basis: 5rem">
                {% if pp.person.photo_url %}
                  <img src="{{ pp.person.photo_url }}" alt="Photo of {{ pp.person.name }}">
                {% elif pp.person.gender|lower == 'male' %}
                  <img src="{% static 'people/images/blank-man.png' %}" style="background-color: #ddd;">
                {% else %}
                  <img src="{% static 'people/images/blank-woman.png' %}" style="background-color: #ddd;">
                {% endif %}
              </div>
              <div class="ds-not-sidebar">
                <h4><a href="{{ pp.person.get_absolute_url }}">
                  {% if pp.elected %}🌟 <span class="elected_text">Elected:</span> {% endif %}
                  {{ person_post.grouper }}: {{ pp.person.name }}
                  {% if pp.elected %}🌟{% endif %}
                </a></h4>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <div class="ds-padded-large">
        <div class="ds-with-sidebar">
          <div>
            <div class="ds-sidebar" style="flex-basis: 5rem">
            {% if person_post.list.0.party.emblem %}
              <img src="{{ person_post.list.0.party.emblem.url }}" alt="Party emblem">
            {% else %}
            {% endif %}
            </div>
            <div class="ds-not-sidebar">
              <h4><a href="{% url "party_list_view" election=postelection.ballot_paper_id party_id=person_post.list.0.party_id %}">{{ person_post.grouper }}</a></h4>
              <ul class="ds-details" style="border-style:none;">
                <li style="list-style-type: none;">
                  <details style="border-style:none;">
                    <summary>Show {{ person_post.list|length }} candidates</summary>
                    <ul class="ds-grid" style="--gridCellMin: 25ch">
                      {% for person in person_post.list %}
                        {% include "elections/includes/_person_card.html" with person_post=person lists=True %}
                      {% endfor %}
                    </ul>
                  </details>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>

