{% load static %}
{% load humanize %}
{% load i18n %}

<li class="ds-candidate {% if person_post.elected %}elected{% endif %}">
    <div class="ds-candidate-body ds-stack-smaller">
        <h6 class="ds-candidate-name ds-h5">
            {% if person_post.list_position %}
                {{ person_post.list_position }}.
            {% endif %}
            <a href="{{ person_post.person.get_absolute_url }}" class="ds-card-link">
                {{ person_post.person.name}}
            </a>
            {% if postelection.election.current and person_post.person.death_date %}
                {% if person_post.party.is_independent %}
                    {% trans "(Deceased)" %}
                {% endif %}
            {% endif %}
        </h6>
        {% if person_post.elected %}
            <p>
                <span aria-hidden="true">🌟</span>
                {% trans "Elected"%}
            </p>
        {% endif %}

        {% if not person_post.list_position or not postelection.display_as_party_list %}
            <p>{{ party }}
                {% if person_post.votes_cast %}
                    <br><strong>{{ person_post.votes_cast|intcomma }} {% trans "votes" %}</strong>
                {% endif %}
            </p>
        {% endif %}
    </div>

    <div class="ds-candidate-image">
        {% if person_post.person.photo_url %}
            <img src="{{ person_post.person.photo_url }}" alt="{% blocktrans trimmed with person_name=person_post.person.name%}Photo of {{ person_name }}{% endblocktrans %}">
        {% elif person_post.person.gender|lower == 'male' %}
            <img src="{% static 'people/images/blank-man.png' %}" style="background-color: #ddd;">
        {% else %}
            <img src="{% static 'people/images/blank-woman.png' %}" style="background-color: #ddd;">
        {% endif %}
    </div>
</li>
