{% load i18n %}
{% load postcode_tags %}
{% load humanize %}

<section class="ds-card">
    <div class="ds-card-body">
        <h2 id='where'>
            <span aria-hidden="true">📝</span>
            {% blocktrans %}Register to vote{% endblocktrans %}
        </h2>

        <p>
            {% blocktrans trimmed %}
                You need to be registered in order to vote.
                If you aren't registered to vote visit
                <a href="https://www.gov.uk/register-to-vote">
                    https://www.gov.uk/register-to-vote
                </a>
            {% endblocktrans %}
        </p>
        {% if postelection %}
            <p>
                {% blocktrans trimmed with registration_deadline=postelection.registration_deadline election_date=postelection.election.election_date%}
                    Register before midnight on {{ registration_deadline }} to vote on {{ election_date }}.
                {% endblocktrans %}
            </p>
            <p>
                {% blocktrans trimmed with postal_vote_application_deadline=postelection.postal_vote_application_deadline election_date=postelection.election.election_date %}
                    Once registered, apply before midnight on {{ postal_vote_application_deadline }} to vote by post on {{ election_date }}.
                {% endblocktrans %}
            </p>
            <p>
                {% if council %}
                    {% blocktrans trimmed with council_name=council.name%}To register by post, contact {{ council_name }}.{% endblocktrans %}
                {% else %}
                    {% blocktrans %}To register by post, contact your local council.{% endblocktrans %}
                {% endif %}

            </p>
        {% endif %}
        {% if council.council_id %}
            <p>{{ council.name }}
                {{ council.electoral_services_contacts.address|linebreaksbr }}
                {{ council.electoral_services_contacts.postcode }}
                <br>
                <a href="mailto:{{ council.electoral_services_contacts.email }}">
                    {{ council.electoral_services_contacts.email }}
                </a>
                <br>
                <a href="{{ council.electoral_services_contacts.website }}">
                    {{ council.electoral_services_contacts.website }}
                </a>
                {% for number in council.electoral_services_contacts.phone_numbers %}
                    <br>{{ number }}
                {% endfor %}
            </p>
        {% endif %}
        <!-- valid only for Scottish postcodes -->
        {% if council.registration_contacts %}
            <h2>{% blocktrans %}Need help with electoral services?{% endblocktrans %}</h2>
            {{ council.registration_contacts.name }}
            {{ council.registration_contacts.address|linebreaksbr }}
            <br>{{ council.registration_contacts.postcode  }}
            <br>
            <a href="{{ council.registration_contacts.website }}">
                {{ council.registration_contacts.website }}
            </a>
            <br>{{ council.registration_contacts.email }}
            {% for number in council.registration_contacts.phone_numbers %}
                <br>{{ number }}
            {% endfor %}
            </p>
        {% endif %}
    </div>
</section>
