{% load postcode_tags %}
{% load humanize %}

<section class="card">

  <h2 id='where'>
    <span aria-hidden="true">🗳️</span>
    Register to vote
    <span aria-hidden="true">🗳️</span>
  </h2>

<p>You need to be registered in order to vote.
  If you aren't registered to vote visit 
  <a href="https://www.gov.uk/register-to-vote">
    https://www.gov.uk/register-to-vote
  </a>
</p>
<p>Register before midnight on {{ postelection.registration_deadline }} 
  to vote in the {{ postelection.election.name }} on 
  {{ postelection.election.election_date }}.
</p>
<p>Register before midnight on {{ postelection.postal_vote_application_deadline }} 
  to vote by post in the {{ postelection.election.name }} on 
  {{ postelection.election.election_date }}.</p>
<p>To register by post, contact your local council.</p>
{% if council.council_id %}  
  <p>{{ council.name }}
  {{ council.electoral_services_contacts.address|linebreaksbr }}
  {{ council.electoral_services_contacts.postcode }}
  <br>
    <a href="mailto:{{ council.electoral_services_contacts.email }}">
      {{ council.electoral_services_contacts.email }}
    </a>
  <br>
    <a href="{{ council.electoral_services_contacts.website }}">
      {{ council.electoral_services_contacts.website }}
    </a>
  {% for number in council.electoral_services_contacts.phone_numbers %}
    <br>{{ number }}
  {% endfor %}
  </p>
{% endif %}
<!-- valid only for Scottish postcodes -->
{% if council.registration_contacts %}
  <h2>Need help with electoral services?</h2>
  {{ council.registration_contacts.name }}
  {{ council.registration_contacts.address|linebreaksbr }}
  <br>{{ council.registration_contacts.postcode  }}
  <br> 
    <a href="{{ council.registration_contacts.website }}">
      {{ council.registration_contacts.website }}
    </a>
  <br>{{ council.registration_contacts.email }}
  {% for number in council.registration_contacts.phone_numbers %} 
    <br>{{ number }}
  {% endfor %}
  </p>
{% endif %}
</section>