{% load markdown_filter %}
{% load humanize %}
{% load static %}
{% load i18n %}

<div class="ds-stack-smaller">
    <div class="ds-card" id="election_{{ postelection.election.slug }}">
        <div class="ds-card-body">

            <h2>
                <span aria-hidden="true">🗳️</span>
                {{ postelection.election.name_without_brackets }}
            </h2>


            {% if postelection.cancelled %}
                {% include "elections/includes/_cancelled_election.html" with object=postelection only %}
            {% else %}

                {% if not postelection.is_pcc and not postelection.is_mayoral %}
                    <h3>{% if postelection.is_london_assembly_additional %}{% trans "Additional members" %}{% else %}{{ postelection.friendly_name }}{% endif %}</h3>
                {% endif %}

                {% if postelection.metadata.coronavirus_message %}
                    <div style="border:1px solid red;margin:1em 0;padding:1em">
                        <strong>{{ postelection.metadata.coronavirus_message|safe }}</strong>
                    </div>
                {% endif %}

                <p>
                    {% if postelection.election.is_election_day %}
                        {% blocktrans trimmed with open_time=postelection.election.polls_open|time:"ga" close_time=postelection.election.polls_close|time:"ga" %}
                            This election <strong>is being held today</strong>. Polls are open from {{ open_time }} till {{ close_time }}
                        {% endblocktrans %}

                    {% else %}
                        {% if postelection.election.in_past %}
                            {% blocktrans trimmed with election_date=postelection.election.election_date|naturalday:"\o\n l j F Y" %}
                                This election was held <strong>{{ election_date }}</strong>.
                            {% endblocktrans %}
                        {% else %}
                            {% blocktrans trimmed with election_date=postelection.election.election_date|naturalday:"\o\n l j F Y" %}
                                This election will be held <strong> {{ election_date }}</strong>.
                            {% endblocktrans %}
                        {% endif %}
                    {% endif %}
                </p>

                {% if object.election.slug == "europarl.2019-05-23"%}
                    {% include "elections/includes/eu_results.html" with card=0 %}
                {% endif %}

                <p>
                    {% if postelection.election.in_past %}
                        {% blocktrans trimmed with num_candidates=postelection.people|length plural=postelection.people|pluralize postelection=postelection.friendly_name %}<strong>{{ num_candidates }} candidate{{ plural }}</strong> stood in the {{ postelection }}.{% endblocktrans %}
                    {% else %}
                        {# Display different messages depending on the number of candidates #}
                        {# Case: No candidates for a contested election #}
                        {% if not postelection.people and postelection.contested %}
                            {% trans "We don't know of any candidates standing yet. You can help improve this page:" %} <a href="{{ postelection.ynr_link }}">
                                {% trans "add information about candidates to our database" %}</a>.
                        {% else %}
                            {# Display different messages depending on the number of candidates #}
                            {# Case: No candidates for a contested election #}
                            {% if not postelection.people and postelection.contested %}
                                {% trans "We don't know of any candidates standing yet." %}
                                {% trans "You can help improve this page:" %} <a href="{{ postelection.ynr_link }}">
                                    {% trans "add information about candidates to our database" %}</a>.
                            {% else %}
                                {% if postelection.locked %}
                                    {# Case: Candidates and the post is locked #}
                                    {% if postelection.get_voting_system.slug == "PR-CL" %}
                                        {% trans "You will have one vote, and can vote for a single party list or independent candidate." %}
                                    {% else %}
                                        {% if postelection.winner_count and postelection.get_voting_system.slug == 'FPTP' %}
                                            {% blocktrans trimmed with winner_count=postelection.winner_count|apnumber plural=postelection.winner_count|pluralize num_candidates=postelection.people.count|apnumber plural_candidates=postelection.people|pluralize%}
                                                You will have {{ winner_count }} vote{{ plural }},
                                                and can choose from <strong>{{ num_candidates }} candidate{{ plural_candidates }}</strong>.
                                            {% endblocktrans %}
                                        {% endif %}
                                        {% if postelection.winner_count and postelection.get_voting_system.slug == 'AMS' %}
                                            {% blocktrans trimmed with num_ballots=postelection.party_ballot_count postelection=postelection.friendly_name %}
                                                You will have one vote, and can choose from <strong>{{ num_ballots }}</strong>
                                                in the {{ postelection }}.{% endblocktrans %}
                                        {% endif %}
                                        {% if postelection.winner_count and postelection.get_voting_system.slug == 'sv' %}
                                            {% blocktrans trimmed with num_ballots=postelection.party_ballot_count postelection=postelection.friendly_name %}
                                                You will have two votes, and can choose from <strong>{{ num_ballots }}</strong>
                                                in the {{ postelection}}.
                                            {% endblocktrans %}
                                        {% endif %}
                                        {% if postelection.get_voting_system.slug == 'STV' %}
                                            {% if postelection.winner_count == 1 %}
                                                {% blocktrans trimmed with num_ballots=postelection.party_ballot_count %}
                                                    There is one seat up for election, and you can choose from {{ num_ballots }}.
                                                {% endblocktrans %}
                                            {% else %}
                                                {% blocktrans trimmed with winner_count=postelection.winner_count|apnumber num_ballots=postelection.party_ballot_count %}
                                                    There are {{ winner_count }} seats up for election, and you can choose from {{ num_ballots }}.
                                                {% endblocktrans %}
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}

                                    {% include "elections/includes/_how-to-vote.html" with voting_system=postelection.get_voting_system %}

                                {% else %}
                                    {# Case: Candidates and the post is NOT locked (add CTA) #}
                                    {% blocktrans trimmed with num_ballots=postelection.party_ballot_count postelection=postelection.friendly_name ynr_link=postelection.ynr_link %}
                                        The official candidate list has not yet been published.
                                        However, we expect at least <strong>{{ num_ballots }}</strong>
                                        in the {{ postelection }}.

                                        You can help improve this page: <a href="{{ ynr_link }}">
                                            add information about candidates to our database</a>.
                                    {% endblocktrans %}
                                {% endif %}

                            {% endif %}
                        {% endif %}
                    {% endif %}
                </p>
            {% endif %}

            {% if postelection.people %}
                {% if postelection.display_as_party_list %}
                    {% include "elections/includes/_people_list_with_lists.html" with people=postelection.people %}
                {% else %}
                    {% include "elections/includes/_people_list.html" with people=postelection.people %}
                {% endif %}
            {% endif %}

            {% if postelection.should_display_sopn_info %}
                <p>
                    {% if postelection.locked %}
                        {% blocktrans trimmed with sopn_url=postelection.ynr_sopn_link %}
                            The <a href="{{ sopn_url }}">official candidate list</a> has been published.
                        {% endblocktrans%}
                    {% else %}
                        {% if postelection.past_expected_sopn_day %}
                            {% trans "The official candidate list should have been published on" %}
                        {% else %}
                            {% trans "The official candidate list should be published on" %}
                        {% endif %}
                        {{ postelection.expected_sopn_date|date:"j F Y" }}.
                    {% endif %}
                </p>

                {% if postelection.election.election_booklet %}
                    <h4>
                        <a href="{% static postelection.election.election_booklet %}">{% trans "Read the official candidate booklet for this election." %}</a></h4>
                {% endif %}

                {% if postelection.election.description %}
                    {% blocktrans with description=postelection.election.description|markdown %} {{ description }} {% endblocktrans %}
                {% endif %}

                {%  if not postelection.cancelled %}
                    {% if postelection.election.voter_age %}
                        <ul class="ds-details">
                            <li>
                                <details>
                                    <summary>{% trans "Can you vote in this election?" %}</summary>
                                    <h5>{% trans "Age" %}</h5>
                                    <p>
                                        {% blocktrans trimmed with voter_age=postelection.election.voter_age voter_age_date=postelection.election.election_date|date:"jS" election_date=postelection.election.election_date|date:"F Y" %}
                                            You need to be over {{ voter_age }} on the {{ voter_age_date }} of {{ election_date }} in order to vote in this election.
                                        {% endblocktrans %}}
                                    </p>
                                    {% if postelection.election.voter_citizenship %}
                                        <h5>{% trans "Citizenship" %}</h5>
                                        {{ postelection.election.voter_citizenship|markdown }}
                                    {% endif %}
                                </details>
                            </li>
                        </ul>
                    {% endif %}
                {% endif %}
            {% endif %}




            {% if postelection.ballotnewsarticle_set.exists %}
                {% include "news_mentions/news_articles.html" with news_articles=postelection.ballotnewsarticle_set.all %}
            {% endif %}

            {% if postelection.wikipedia_bio %}
                <div class="ds-card">
                    <div class="ds-card-body">
                        <h3>{% trans "Wikipedia" %}</h3>
                        <p>{{ postelection.wikipedia_bio }}</p>
                        <p><a href="{{ postelection.wikipedia_url }}">{% trans "Read more on Wikipedia" %}</a></p>
                    </div>
                </div>
            {% endif %}
            {% include "elections/includes/_ld_election.html" with election=postelection %}
        </div>
    </div>
    {% if postelection.husting_set.displayable %}
        {% include "hustings/includes/_ballot.html" with hustings=postelection.husting_set.displayable %}
    {% endif %}
</div>
