{% load humanize %}
{% load i18n %}
<div class="ds-card">
    <div class="ds-card-body">
        {% if postelections.count == 0 %}
            {% trans "We don't know of any upcoming elections." %}
        {% else %}
            {% regroup postelections by election.election_date as header_elections_by_date %}
            <h2>{% trans "Elections in your area" %}</h2>

            {% for election_group in header_elections_by_date %}

                {% if election_group.list.0.past_date %}
                    {% ifchanged election_group.list.0.past_date %}
                        <h3>{% trans "Recently past elections" %}</h3>
                    {% endifchanged %}
                {% endif %}

                {% if election_group.list.0.past_date %}
                    <h4>
                        {{ election_group.grouper|naturalday:"l j F Y"|title }}
                    </h4>
                {% else %}
                    <h3>
                        {{ election_group.grouper|naturalday:"l j F Y"|title }}
                    </h3>
                    <p>
                        {% blocktrans trimmed with num_ballots=num_ballots|apnumber ballots_pluralised=num_ballots|pluralize %}
                            You will have {{ num_ballots }} ballot paper{{ ballots_pluralised }} to fill out.
                        {% endblocktrans %}
                    </p>
                {% endif %}

                <ul>
                    {% for ballot in election_group.list %}
                        <li {% if ballot.past_date %}class="past_elections" {% endif %}>

                            <a href="#election_{{ ballot.election.slug }}">
                                {{ ballot.election.nice_election_name  }}
                                {% if ballot.post.label != post.election and not ballot.is_mayoral and not ballot.is_pcc %}
                                    : {{ ballot.post.label }}
                                {% endif %}
                            </a>
                            {% blocktrans trimmed with short_cancelled_message=ballot.short_cancelled_message_html %}
                                {{ ballot.short_cancelled_message_html }}
                            {% endblocktrans %}
                        </li>
                    {% endfor %}

                    {% if parish_council_election and parish_council_election.election_date == election_group.grouper %}
                        <li {% if parish_council_election.in_past %}class="past_elections" {% endif %}>
                            <a href="#parishcouncil">
                                {{ parish_council_election.council_name }}
                                {% if parish_council_election.is_unconstested %} {% trans "(uncontested)" %}
                                {% elif parish_council_election.unknown_if_contested %} {% trans "(may be contested)" %}
                                {% endif %}
                            </a>
                        </li>
                    {% endif %}

                </ul>
            {% endfor %}
        {% endif %}

        {% if referendums %}
            {% include 'referendums/includes/_list.html' with referendums=referendums %}
        {% endif %}

        {% if not ballot.election.contested and not ballot.election.ynr_sopn_link %}
            <p>{% trans "There may also be parish, town or community council elections in some areas." %}</p>
        {% endif %}

        <p><a href='#where'>{% trans "Where do I vote?" %}</a></p>

    </div>
</div>
