/* Cards */

section + .card {
  margin-top:$card-margin*2;
}

.card {
  width: 100%;
  box-sizing: border-box;
  float: left;
  a {
    word-wrap: break-word;
  }

  h3 {
    margin-bottom: 5px;
  }

  .leaflet {
    float: left;
    margin-right: 20px;
  }

  p.small {
    font-size: 0.8em;
    font-weight: bold;
  }

  .twitter_container {
    max-width: 600px;
    @include media(tablet) {
      width: 100%;
    }
  }
  .cv_thumb {
    height: 120px;
    float: left;
    border: 1px solid #ccc;
    margin: 5px 20px 20px 0;
    @include media(mobile) {
      display: block !important;
      float: none !important;
      clear: both;
      margin-left: 0 !important;
      margin-right: 0 !important;
      width: 120px;
    }
  }
  .person_photo.detail {
      @include media(mobile) {
        display: block;
        float: none;
        clear: both;
        margin-left: 0 !important;
        margin-right: 0 !important;
      }
  }
}

.back {
  width: 100%;
  overflow: auto;
  margin-top: 10px;
  margin-bottom: 30px;
  border-bottom: 1px dotted #ccc;
  padding-bottom: 0;
}

blockquote {
  font-style:italic;
  font-family: sans-serif;
}
