@import 'dc_base';
@import 'cards';
@import 'feedback_form';
@import '_fontello';

@import 'partials/_fonts.scss';
@import 'partials/_variables.scss';
@import 'partials/_type.scss';
@import 'partials/_forms.scss';
@import 'partials/_description-lists.scss';
@import 'partials/_button.scss';
@import 'partials/_call-to-action.scss';
@import 'partials/_details.scss';
@import 'partials/_stack.scss';
@import 'partials/_cluster.scss';
@import 'partials/_grid.scss';
@import 'partials/_sidebar.scss';
@import 'partials/_breadcrumbs.scss';
@import 'partials/_card.scss';
@import 'partials/_candidate.scss';
@import 'partials/_table.scss';
@import 'partials/_header.scss';
@import 'partials/_subnav.scss';
@import 'partials/_footer.scss';
@import 'partials/_radio.scss';
@import 'partials/_checkbox.scss';
@import 'partials/_select.scss';
@import 'partials/_filter.scss';
@import 'partials/_dark.scss';
@import 'partials/_page.scss';
@import 'partials/_utilities.scss';

// // Generate atomic classes for documentation demos
@import 'partials/_classes-colors.scss';
@import 'partials/_classes-scales.scss';

$scope: true;

@mixin optional-styles {
  @include description-lists;
  @include button;
  @include cta;
  @include card;
  @include candidate;
  @include cluster;
  @include grid;
  @include stack;
  @include breadcrumbs;
  @include table;
  @include header;
  @include radio;
  @include checkbox;
  @include select;
}

@if $scope {
  .ds-scope {
    font-size: clamp(#{$s1}, 1.5vw, #{$s2});
    @include fontMain;
    @include type;
    @include forms;
    @include optional-styles;
    @include utilities;
  }
} @else {
  @include type;
  @include forms;
  @include optional-styles;
  @include utilities;
}

main {
  background-color: white;
}


footer {
  ul {
    overflow: hidden;
  }
  li {
    float: left;
  }
}

#bottom_banner {
  margin-top: 2rem;

  p {
    margin:0;
    line-height:2em;
    text-align: center;
    background: $dc-light-grey;
  }
  a {
    color: $dc-bright-pink;
  }
}

.person_banner {
    overflow:auto;

    img.person_photo {
        height: 150px;
        float: right;
        margin-right: 20px;
        border: 1px solid #ccc;
        margin-left: 20px;
    }

    h2.person_name {
      float:left;
    }
    p {
      clear:left;
    }
}

dt {
  margin-top:1em;
}
dd {
  margin-left:1em;
}

.next_election {
    h2 {
        color: #666;

        span.postcode {
            color: #222;
        }
    }
}

.upcoming_elections ul li {
  //  add a little margin below the li items on the upcoming_elections block
  margin-bottom:0.5em;
}

.container {
    padding: 20px;
    box-sizing: content-box;
    overflow: auto;
    @include media($max-width: 530px) {
      padding:0;
    }
}

.breadcrumbs {
  @include media($max-width: 530px) {
      padding-left:20px;
    }
  li {
    display: inline-block;
    float:none;
  }
}


.card {
  @include media($max-width: 530px) {
      padding-left:10px;
    }
}

summary {
  cursor: pointer;
  color: $dc-bright-pink;
}