{% extends "base.html" %}
{% load i18n %}
{% load markdown_deux_tags %}

{% block og_image %}{% if object.photo_url %}{{ object.photo_url }}{% endif %}{% endblock og_image %}


{% block og_title_content %}{{ object.name }}{% endblock og_title_content %}
{% block page_title %}{{ object.name }}{% endblock page_title %}
{% block og_description_content %}Standing for '{{ object.posts.all.0.label }}' in {{ object.posts.all.0.election.name }}{% endblock og_description_content %}

{% block content %}

    {% if referer_postcode %}
        {# We've come from the postcode page #}
        {% include 'elections/includes/_postcode_breadcrumbs.html' %}
    {% endif %}

    <div class="ds-card">
        <div class="ds-card-body">
            <h2 class="ds-candidate-name">Ask {{ object.name }} for more information</h2>

            {% if object.photo_url %}
                <img src="{{ object.photo_url }}" class="person_photo" alt="profile photo of {{ object.name }}">
            {% endif %}

            {% if object.email %}
                {% include "people/_person_email_form.html" %}
            {% else %}
                <p>
                    {% blocktrans trimmed with person_name=object.name edit_profile_url=object.get_ynr_url %}
                        We don't know {{ person_name }}'s email address.
                        <a href="{{ edit_profile_url }}">Can you add it?</a>
                    {% endblocktrans %}
                </p>
            {% endif %}
        </div>
    </div>

{% endblock content %}
