{% extends "base.html" %}
{% load markdown_deux_tags %}
{% load breadcrumb_tags %}
{% load humanize %}

{% block page_title %}{% include "people/includes/_person_meta_title.html" %}{% endblock page_title %}
{% block page_description %}{% include "people/includes/_person_meta_description.html" %}{% endblock page_description %}
{% block og_title %}{% include "people/includes/_person_meta_title.html" %}{% endblock og_title %}
{% block og_description %}{% include "people/includes/_person_meta_description.html" %}{% endblock og_description %}
{% block og_image %}{% if object.photo_url %}{{ object.photo_url }}{% endif %}{% endblock og_image %}

{% block content %}
<div class="ds-scope">
  <div class="ds-page">
    <div class="ds-stack">
      {% include "people/includes/_person_intro_card.html" %}

      {% include "people/includes/_person_policy_card.html" %}

      {% include "people/includes/_person_about_card.html" %}

      {% include "people/includes/_person_contact_card.html" %}

      {% include "people/includes/_person_previous_elections_card.html" %}

      {% include "people/includes/_person_edit_details_card.html" %}

      {% include "people/includes/_person_hustings_card.html" %}

      {% if referer_postcode %}
      <div class="back">
        <p>
          <a href="{% url 'postcode_view' referer_postcode %}">&laquo; Back to candidates in {{ referer_postcode }}</a>
        </p>
      </div>
      {% endif %}

      {% if not referer_postcode %}
      {% include "elections/includes/_postcode_search_form.html" %}
      {% endif %}

    </div>
  </div>
</div>

{% endblock content %}

{% block breadcrumbs %}
{% if referer_postcode %}
{# We've come from the postcode page #}
<ol vocab="http://schema.org/" typeof="BreadcrumbList" class="breadcrumbs" aria-label="You are here:" role="navigation">
  {% url 'home_view' as home_view %}
  {% breadcrumb_item home_view 'Home' 1 %}
  {% url 'postcode_view' referer_postcode as postcode_view %}
  {% breadcrumb_item postcode_view 'Candidates in '|add:referer_postcode 2 %}
  <li class="disabled"><span class="show-for-sr">Current: </span> {{ object.name }}</li>
</ol>
{% elif object.personpost %}
{# There's a current post #}
<ol vocab="http://schema.org/" typeof="BreadcrumbList" class="breadcrumbs" aria-label="You are here:" role="navigation">
  {% url 'home_view' as home_view %}
  {% breadcrumb_item home_view 'Home' 1 %}
  {% breadcrumb_item object.personpost.post_election.get_absolute_url 'Candidates in '|add:object.personpost.post.label 2 %}
  <li class="disabled"><span class="show-for-sr">Current: </span> {{ object.name }}</li>
</ol>
{% endif %}

{% include "elections/includes/_ld_candidate.html" with person=object.personpost.person party=object.personpost.party %}

{% endblock breadcrumbs %}