{% extends "base.html" %}
{% load markdown_deux_tags %}
{% load humanize %}
{% load i18n %}

{% block page_title %}{% include "people/includes/_person_meta_title.html" %}{% endblock page_title %}
{% block page_description %}{% include "people/includes/_person_meta_description.html" %}{% endblock page_description %}
{% block og_title %}{% include "people/includes/_person_meta_title.html" %}{% endblock og_title %}
{% block og_description %}{% include "people/includes/_person_meta_description.html" %}{% endblock og_description %}
{% block og_image %}{% if object.photo_url %}{{ object.photo_url }}{% endif %}{% endblock og_image %}

{% block content %}

    {% if referer_postcode %}
        {# We've come from the postcode page #}
        {% include 'elections/includes/_postcode_breadcrumbs.html' %}
    {% elif object.featured_candidacy %}
        {# There's a current post #}
        <nav class="ds-breadcrumbs ds-stack" aria-label="{% trans 'You are here:'%}{{ request.path }}">
            <ol>
                <li>
                    <a href="{% url 'home_view' %}">{% trans "Home" %}</a>
                </li>
                <li>{{ object.name }}</li>
            </ol>
        </nav>
    {% endif %}

    {% include "elections/includes/_ld_candidate.html" with person=object.featured_candidacy.person party=object.featured_candidacy.party %}

    <div class="ds-stack">
        {% include "people/includes/_person_intro_card.html" %}

        {% include "people/includes/_person_policy_card.html" %}

        {% include "people/includes/_person_manifesto_card.html" with party=object.featured_candidacy.party party_name=object.featured_candidacy.party.name %}

        {% include "people/includes/_person_about_card.html" %}

        {% include "people/includes/_person_contact_card.html" %}

        {% include "people/includes/_person_local_party_card.html" with party=person.local_party.name %}

        {% include "people/includes/_person_hustings_card.html" %}

        {% include "people/includes/_person_previous_elections_card.html" %}

        {% include "people/includes/_person_edit_details_card.html" %}

        {% if referer_postcode %}
            <div class="back">
                <p>
                    <a href="{% url 'postcode_view' referer_postcode %}">&laquo; {% trans "Back to candidates in"%} {{ referer_postcode }}</a>
                </p>
            </div>
        {% endif %}

        {% if not referer_postcode %}
            {% include "elections/includes/_postcode_search_form.html" %}
        {% endif %}

    </div>

{% endblock content %}
