{% load humanize %}
{% load i18n %}

{% if object.past_not_current_candidacies %}
    <section class="ds-card">
        <div class="ds-table">
            <table>
                <caption style="font-style: normal;">
                    <h3 class="ds-padded">{% trans "Previous Elections" %}</h3>
                </caption>
                <tr>
                    <th>{% trans "Date" %}</th>
                    <th>{% trans "Election" %}</th>
                    <th>{% trans "Party" %}</th>
                    <th>{% trans "Results" %}</th>
                </tr>
                <tr>
                    {% for person_post in object.past_not_current_candidacies %}
                        {% blocktrans trimmed with message=person_post.post_election.short_cancelled_message_html %}
                            {{ message }}
                            {{ message }}
                            {{ message }}
                        {% endblocktrans %}
                        <td>{{ person_post.election.election_date|date:"Y" }}</td>
                        <td>{% blocktrans with post_label=person_post.post.label election=person_post.election %}{{ post_label}}: {{ election }}{% endblocktrans %}</td>
                        <td>{{ person_post.party_name }}</td>
                        {% if person_post.elected %}
                            <td>{% if person_post.votes_cast %}{% blocktrans with num_votes=person_post.votes_cast|intcomma %}{{ num_votes}} votes (elected){% endblocktrans %}{% else %}{% trans "Elected unopposed" %}{% endif %}</td>
                        {% else %}
                            <td>{% if person_post.votes_cast %}{% blocktrans with num_votes=person_post.votes_cast|intcomma %}{{ num_votes }} votes (not elected){% endblocktrans %}{% else %}{% trans "Vote count not available" %}{% endif %}</td>
                        {% endif %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </section>
{% endif %}
