{% load humanize %}
{% load i18n %}

{% if object.personpost_set.exists %}
    <section class="ds-card">
        <div class="ds-table">
            <table>
                <caption style="font-style: normal;">
                    <h3 class="ds-padded">{{ object.name }}'s {% trans "Elections" %}</h3>
                </caption>
                <tr>
                    <th>{% trans "Date" %}</th>
                    <th>{% trans "Election" %}</th>
                    <th>{% trans "Party" %}</th>
                    <th>{% trans "Results" %}</th>
                    {% if object.previous_party_count %}
                        <th>{% trans "Other party affiliations in the past 12 months" %}</th>
                    {% endif %}
                </tr>
                <tr>
                    {% for person_post in object.personpost_set.all %}
                        <td>{{ person_post.election.election_date|date:"Y" }}</td>
                        <td>{% blocktrans with post_label=person_post.post.label election=person_post.election %}{{ post_label}}: {{ election }}{% endblocktrans %}</td>
                        <td>{{ person_post.party_name }}</td>
                        <td>
                            {% if person_post.elected %}
                                {% if person_post.votes_cast %}
                                    {% blocktrans with num_votes=person_post.votes_cast|intcomma %}
                                        {{ num_votes}} votes (elected)
                                    {% endblocktrans %}
                                {% else %}
                                    {% trans "Elected (vote count not available)" %}
                                {% endif %}
                            {% elif person_post.post_election.cancelled and not person_post.elected %}
                                {% if person_post.post_election.cancelled %}
                                    {% trans "Elected unopposed" %}
                                {% endif %}
                            {% else %}
                                {% if person_post.votes_cast %}
                                    {% blocktrans with num_votes=person_post.votes_cast|intcomma %}
                                        {{ num_votes }} votes (not elected)
                                    {% endblocktrans %}
                                {% else %}
                                    {% trans "Not Elected (vote count not available)" %}
                                {% endif %}
                            {% endif %}
                        </td>
                        {% if object.previous_party_count %}
                            <td>
                                {% for previous_party_affiliation in person_post.previous_party_affiliations.all %}
                                    {{ previous_party_affiliation.party_name }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </td>
                        {% endif %}
                        </tr>
                    {% endfor %}

                </table>
            </div>
        </section>
{% endif %}
