{% if object.manifestos %}
    {% with object.featured_candidacy.party as party %}
        <section class="ds-candidate">
            <div class="ds-candidate-body ds-stack-smaller">
                <h2 class="ds-candidate-name ds-h3">
                    Party manifesto
                </h2>
                <p>
                    {{ object.name }} {{ object.featured_candidacy.election.in_past|yesno:"was,is" }} the {{ party.party_name }}
                    candidate.
                    Find out more about their policies in the {{ party.party_name }} manifesto.
                </p>
                <ul>
                    {% for manifesto in object.manifestos %}
                        {% include "parties/single_manifesto.html" %}
                    {% endfor %}
                </ul>
            </div>
            {% if party.emblem_url %}
                <div class="ds-candidate-image">
                    <img src="{{ party.emblem_url }}" alt="{{ party.name}} emblem">
                </div>
            {% endif %}
        </section>
    {% endwith %}
{% endif %}
