{% load humanize %}
{% load i18n %}
<div class="ds-card" id="parishcouncil">
    <div class="ds-card-body">
        <h1>
            <span aria-hidden="true">🗳️</span>
            {{ parish_council_election.council_name }}
        </h1>

        <p>
            {% if parish_council_election.is_contested %}
                {% blocktrans trimmed with were_also_or_will_also_be=parish_council_election.in_past|yesno:"were also, will also be" ward_seats=parish_council_election.ward_seats %}
                    You {{ were_also_or_will_also_be }} able to vote for {{ ward_seats }} councillors to sit
                {% endblocktrans %}
            {% else %}
                {% blocktrans trimmed with ward_seats=parish_council_election.ward_seats %}
                    You are also represented by {{ ward_seats }} councillors
                {% endblocktrans %}
            {% endif %}
            {% url 'parish_council_election.website' as parish_council_election_url %}
            {% blocktrans trimmed with council_name=parish_council_election.council_name %}
                on <a href="{{ parish_council_election_url }}">{{ council_name }}</a>
            {% endblocktrans %}
            {% if parish_council_election.parish_ward_name %}
                {% blocktrans trimmed with parish_ward_name=parish_council_election.parish_ward_name %}
                    - {{ parish_ward_name }}
                {% endblocktrans %}
            {% endif %}.
        </p>

        <p>
            <a href="https://www.localgov.co.uk/What-are-parish-councils/35176">
                {% blocktrans trimmed with council_type=parish_council_election.council_type council_name=parish_council_election.council_name precept_amount=parish_council_election.precept|intcomma %}
                    {{ council_type }} councils are the first tier of local government</a>,
                    and have a wide range of powers including looking after community buildings,
                    planning, street lighting and allotments. They also have the power to raise
                    money through council tax, known as the 'precept'. In 2020-2021, {{ council_name }}
                    raised £{{ precept_amount }} through the precept.
                {% endblocktrans %}
            </p>

            {% if parish_council_election.is_contested %}
                <p><a href="{{ parish_council_election.sopn }}">
                    {% trans "View the official list of candidates (PDF)." %}
                </a></p>
            {% elif parish_council_election.is_uncontested %}
                <p>
                    {% trans "This election was uncontested because only one candidate came forward to stand for each available seat.
                    No votes will be cast, and the candidate/s below has/have been automatically declared the winner/s." %}
                    {% if parish_council_election.sopn %}<a href="{{ parish_council_election.sopn }}">{% trans "See who was elected" %}</a>.{% endif %}
                </p>
            {% endif %}
        </div>
    </div>
