{% extends "base.html" %}

{% load markdown_deux_tags %}
{% load humanize %}
{% load i18n %}

{% block og_image %}{% if object.emblem_url %}{{ CANONICAL_URL }}{{ object.emblem_url }}{% endif %}{% endblock og_image %}
{% block og_title_content %}{{ object.party_name }}{% endblock og_title_content %}
{% block page_title %}{{ object.party_name }}{% endblock page_title %}
{% block og_description %}{{ object.personpost_set.all.count }} candidates{% endblock og_description %}


{% block content %}
    <nav class="ds-breadcrumbs ds-stack" aria-label="You are here: {{ request.path }}">
        <ol>
            <li>
                <a href="{% url 'home_view' %}">{% trans "Home" %}</a>
            </li>
            <li>
                <a href="{% url 'parties_view' %}">{% trans "Parties" %}</a>
            </li>
            <li>{% blocktrans trimmed with party_name=object.party_name %}Current: {{ party_name }}{% endblocktrans %}</li>
        </ol>
    </nav>
    <div class="ds-card">
        <div class="ds-stack-smaller">
            <div class="ds-card-body">
                {% if party.emblem_url %}
                    <div class="ds-with-sidebar">
                        <div>
                            <div class="ds-sidebar" style="flex-basis: 10rem">
                                <img src="{{ party.emblem_url }}" alt="{{ party_name }} emblem">
                            </div>
                            <div class="ds-not-sidebar">
                                <h2>{{ party.party_name }}</h2>
                                <p>{% blocktrans with num_candidates=object.personpost_set.all.count|intcomma pluralize_candidates=object.personpost_set.all.count|pluralize %}{{ num_candidates }} candidate{{ pluralize_candidates }}</p>{% endblocktrans %}</p>
                                {% if object.description %}
                                    {{ object.description|markdown }}
                                {% endif %}
                                {% if object.wikipedia_url %}
                                    <p><a href="{{ object.wikipedia_url }}">{% trans "Read more on wikipedia" %}</a></p>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                {% else %}
                    <div>
                        <h2>{{ party.party_name }}</h2>
                        <p>{% blocktrans trimmed with num_candidates=object.personpost_set.all.count|intcomma pluralize_candidates=object.personpost_set.all.count|pluralize %}{{ num_candidates }} candidate{{ pluralize_candidates }}</p>{% endblocktrans %}</p>
                        {% if object.description %}
                            {{ object.description|markdown }}
                        {% endif %}
                        {% if object.wikipedia_url %}
                            <p><a href="{{ object.wikipedia_url }}">{% trans "Read more on wikipedia" %}</a></p>
                        {% endif %}
                    </div>

                {% endif %}

                {% regroup object.personpost_set.all.counts_by_post by election__name as people_by_election %}

                {% for election in people_by_election %}
                    <div class="ds-table">
                        <table>
                            <caption>{{ election.grouper }}</caption>
                            <tr>
                                <th>{% trans "Post" %}</th>
                                <th>{% trans "Number of candidates" %}</th>
                            </tr>
                            {% for post in election.list %}
                                <tr>
                                    <td>{{ post.post__label }}</td>
                                    <td>{% blocktrans trimmed with num_candidates=post.num_candidates pluralize_candidates=post.num_candidates|pluralize %}{{ num_candidates }} candidate{{ pluralize_candidates }}{% endblocktrans %}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock content %}
