{% extends "base.html" %}
}
{% load markdown_deux_tags %}
{% load humanize %}

{% block og_image %}{% if object.emblem %}{{ CANONICAL_URL }}{{ object.emblem.url }}{% endif %}{% endblock og_image %}
{% block og_title %}{{ object.party_name }}{% endblock og_title %}
{% block page_title %}{{ object.party_name }}{% endblock page_title %}
{% block og_description %}{{ object.personpost_set.all.count }} candidates{% endblock og_description %}


{% block content %}
    <nav class="ds-breadcrumbs ds-stack" aria-label="You are here: {{ request.path }}">
        <ol>
            <li>
                <a href="{% url 'home_view' %}">Home</a>
            </li>
            <li>
                <a href="{% url 'parties_view' %}">Parties</a>
            </li>
            <li>Current: {{ object.party_name }}</li>
        </ol>
    </nav>
    <div class="ds-card">
        <div class="ds-stack-smaller">
            <div class="ds-card-body">
                {% if party.emblem %}
                    <div class="ds-with-sidebar">
                        <div>
                            <div class="ds-sidebar" style="flex-basis: 10rem">
                                <img src="{{ party.emblem.url }}" alt="{{ party_name }} emblem">
                            </div>
                            <div class="ds-not-sidebar">
                                <h2>{{ object.party_name }}</h2>
                                <p>{{ object.personpost_set.all.count|intcomma }} candidates</p>
                                {% if object.description %}
                                    {{ object.description|markdown }}
                                {% endif %}
                                {% if object.wikipedia_url %}
                                    <p><a href="{{ object.wikipedia_url }}">Read more on wikipedia</a></p>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                {% else %}
                    <div>
                        <h2>{{ object.party_name }}</h2>
                        <p>{{ object.personpost_set.all.count|intcomma }} candidate{{ object.personpost_set.all.count|pluralize }}</p>
                        {% if object.description %}
                            {{ object.description|markdown }}
                        {% endif %}
                        {% if object.wikipedia_url %}
                            <p><a href="{{ object.wikipedia_url }}">Read more on wikipedia</a></p>
                        {% endif %}
                    </div>

                {% endif %}

                {% regroup object.personpost_set.all.counts_by_post by election__name as people_by_election %}

                {% for election in people_by_election %}
                    <h4>{{ election.grouper }}</h4>
                    {% for post in election.list %}
                        <dl class="ds-descriptions">
                            <div>
                                <dt>{{ post.post__label }}
                                    {% if post.post_election__cancelled %}
                                        (The poll for this election was cancelled)
                                    {% endif %}
                                </dt>
                                <dd>
                                    {{ post.num_candidates }} candidate{{ post.num_candidates|pluralize }}
                                </dd>
                            </div>
                        </dl>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock content %}
