{% extends "base.html" %}
{% load i18n %}
}
{% block page_title %}{% trans "UK Political Parties" %}{% endblock page_title %}
{% block og_title_content %}{% trans "UK Political Parties" %}{% endblock og_title_content %}
{% block og_description_content %}{% trans "List of candidates for UK Political Parties" %}{% endblock og_description_content %}


{% block content %}
    <nav class="ds-breadcrumbs ds-stack" aria-label="{% trans 'You are here' %}: {{ request.path }}">
        <ol>
            <li>
                <a href="{% url 'home_view' %}">Home</a>
            </li>
            <li>{% trans "Current: Parties" %}</li>
        </ol>
    </nav>
    <div class="ds-card ds-stack">
        <div class="ds-card-body">
            {% blocktrans trimmed %}
                <h2>UK political parties</h2>
                <p>The following is a list of all political parties represented by candidates in Democracy Club's UK election
                    database (est. 2015). The list includes active, deregistered, and defunct parties.</p>

                <p>Party names and emblems are taken from the <a href="http://www.electoralcommission.org.uk/">Electoral
                    Commission's register of political parties.</a></p>
            {% endblocktrans %}
            <ul>
                {% for party in object_list %}
                    <li><a href="{{ party.get_absolute_url }}">{{ party.party_name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock content %}
