{% load i18n %}

<li>
    <a href="{{ manifesto.canonical_url }}" rel="noopener noreferrer">
        {% blocktrans trimmed with manifesto_country=manifesto.country %}
            {{ manifesto_country }} manifesto {% endblocktrans %}{% if manifesto.canonical_url != manifesto.pdf_url %}{% trans "website" %}{% endif %}
        {% if manifesto.language != "English" %}{% blocktrans with manifest_language=manifesto.language %} in {{ manifesto_language }}{% endblocktrans %}{% endif %}
        {% if manifesto.canonical_url == manifesto.pdf_url %}(PDF){% endif %}
    </a>

</li>
{% if manifesto.pdf_url and manifesto.canonical_url != manifesto.pdf_url %}
    <li>
        <a href="{{ manifesto.pdf_url }}" rel="noopener noreferrer">{% trans "PDF Version" %}</a>
    </li>
{% endif %}
{% if manifesto.easy_read_url %}
    <li>
        <a href="{{ manifesto.easy_read_url }}">{% trans "Easy Read version" %}</a>
    </li>
{% endif %}
