{% extends "base.html" %}{% load markdown_deux_tags %}{% block og_title %}About {{ SITE_TITLE }}{% endblock og_title %}{% block page_title %}About {{ SITE_TITLE }}{% endblock page_title %}{% block content %}    {# fmt:off #}{% markdown %}#   Ynglŷn â WhoCaniVoteFor Offeryn syml yw WhoCanIVoteFor sy'n caniatáu i bleidleiswyr y DU ddefnyddio’u cod post i weld rhestrau o ymgeiswyr mewn etholiadau sydd ar y gorwel.

Mae’r holl ddata ymgeiswyr ar y wefan hon wedi’i gasglu gan wirfoddolwyr o wefannau'r cyngor ac o ffynonellau eraill. Os hoffech gyfrannu, ewch i **[Ymgeiswyr Democracy Club](https://candidates.democracyclub.org.uk/)**.

Mae rhywfaint o’r wybodaeth a arddangosir ar WhoCanIVoteFor yn cael ei chadw gan Democracy Club ar wahân i'n cronfa ddata ymgeiswyr. Mae hyn yn cynnwys data a dolenni 'ychwanegol' megis manylion cyswllt a maniffestos pleidiau gwleidyddol, cynghorau plwyf neu dref, neu refferenda.
Os oes gennych gwestiynau neu sylwadau ar unrhyw un o'r pynciau hyn, cysylltwch â ni gan ddefnyddio'r cyfeiriad e-bost isod.

## Cyswllt E-bostiwch **[hello@democracyclub.org.uk](mailto:hello@democracyclub.org.uk)**gydag unrhyw adborth neu adroddiadau am wallau, trydarwch ni **[@democlub](https://twitter.com/democlub)** neu**[siaradwch â ni ar Facebook](https://www.facebook.com/democracyclub/)**.

Os hoffech drafod y safle hwn neu unrhyw brosiect arall sy'n ymwneud ag etholiadau’r DU, byddem yn awgrymu eich bod yn postio at y **[Democracy Club Slack](https://democracyclub.slack.com)**.

## Crewyr Datblygwyd y safle hwn gan [Democracy Club](https://democracyclub.org.uk), sef [Sym Roe] (https://twitter.com/symroe), [Joe Mitchell](https://twitter.com/j0e_m), [Tim Green](https://twitter.com/tfgg2), [Andy Lulham](https://twitter.com/andylolz) a [David Miller](https://twitter.com/thatdavidmiller). Ni fyddai'r safle wedi bod yn bosibl oni bai am gymorth y cannoedd sy’n cyfrannu i [Ymgeiswyr Democracy Club](https://candidates.democracyclub.org.uk/), a chymorth [mySociety](https://www.mysociety.org/).

Mae'r data ar ymgeiswyr etholiad cyffredinol 2010 y DU i gyd yn deillio o YourNextMP.com [Edmund von dêr Burg](https://twitter.com/evdb), gyda llawer o ddiolch.

### Data a thrwyddedGallwch ddefnyddio’r data ar y wefan hon, drwy [Democracy Club CandidatesAPI or CSV download](https://candidates.democracyclub.org.uk/api/docs/), o dan delerau trwydded Creative Commons Attribution-ShareAlike ([CC-BY-SA](https://creativecommons.org/licenses/by-sa/3.0/)) ag eithrio:

- Logos y blaid, sy'n wedi’u cymryd o'r [Comisiwn Etholiadol](https://www.electoralcommission.org.uk/).

- Lluniau ymgeiswyr, sydd fel arfer naill ai'n cael eu cyflwyno gan yr ymgeiswyr eu hunain, neu wedi’u cael o ffynonellau lle mae'n ymddangos yn rhesymol y gallem ni eu defnyddio ar y wefan hon, fel tudalen swyddogol y blaid ar gyfer yr ymgeisydd hwnnw, neu eu llun proffil ar gyfryngau cymdeithasol.

Os yw'r drwydded [CC-BY-SA](https://creativecommons.org/licenses/by-sa/3.0/) yn broblem i chi, ond eich bod yn teimlo bod gennych ddefnydd gwerth chweil i'r data, cysylltwch â ni os gwelwch yn dda i drafod eich sefyllfa ymhellach.

### Cod Mae'r cod ffynhonnell ar gyfer y safle hwn ar gael ar [GitHub](https://github.com/DemocracyClub/WhoCanIVoteFor),a gallwch ddod o hyd i [restr o wallau hysbys](https://github.com/DemocracyClub/WhoCanIVoteFor/issues) yno hefyd.
Os ydych chi am helpu, cysylltwch â ni neu ewch ati i gyflwyno ‘pull request’.


## Polisi Preifatrwydd [Mae polisi preifatrwydd y wefan hon i'w weld yma] (https://democracyclub.org.uk/privacy/).

## Ymwadiad Mae'r data ar y wefan hon yn dod o ffynonellau torfol ac efallai na fyddant yn gyflawn (neu gallant gynnwys gwallau). Os dewch chi o hyd i wall, naill ai ewch ati i ddiweddaru’r dudalen eich hun, neu anfonwch e-bost atom i nodi’r broblem.{% endmarkdown %}{% endblock content %}
