{% extends "base.html" %}

{% block page_title %}UK Elections{% endblock page_title %}
{% block og_title %}UK Elections{% endblock og_title %}
{% block og_description %}All Elections in the UK{% endblock og_description %}

{% block content %}

    {% include 'elections/includes/_elections_breadcrumbs.html' %}

    <aside class="ds-filter" aria-labelledby="filter-label">
        <div class="ds-filter-cluster">
            <ul aria-labelledby="adv-filter-label-3">
                <li id="adv-filter-label-3" class="ds-filter-label" aria-hidden="true">Election type:</li>
                <li><a href="?all" aria-current="true">All</a></li>
                <li><a href="?gla">Greater London Assembly</a></li>
                <li><a href="?local">Local</a></li>
                <li><a href="?mayoral">Mayoral</a></li>
                <li id="?parl"><a id="?parl" href="?parl">UK Parliament</a></li>
                <li><a href="?pcc">Police &amp; Crime Commissioner</a></li>
                <li><a href="?scottish">Scottish parliament</a></li>
                <li><a href="?senedd">Senedd Cymru</a></li>
            </ul>
        </div>
    </aside>

    <div class="ds-stack-smaller">
        <div class="ds-card">
            <div class="ds-card-body">
                <h1>All Elections</h1>
                <h2>Current Elections</h2>
                <p>This is a list of upcoming elections, and all elections Democracy Club has covered since 2010. The local
                    election database was founded in 2016.</p>
                {% include "elections/includes/_election_list.html" with elections=current_or_future_elections %}


                <h2>Past Elections</h2>
                {% include "elections/includes/_election_list.html" with elections=past_elections %}
            </div>
        </div>

        {% include "elections/includes/_postcode_search_form.html" %}

        {% include "feedback/feedback_form.html" %}
    </div>

{% endblock content %}
