{% extends "base.html" %}
{% load i18n %}

{% block content %}


    <div class="ds-stack-smaller">
        <div class="ds-card">
            <div class="ds-padded-large">
                <div class="ds-with-sidebar">
                    <div>
                        <div class="ds-sidebar" style="flex-basis: 10rem">
                            {% if party.emblem_url %}
                                <img src="{{ party.emblem_url }}" alt="{{ party_name }} {% trans 'emblem' %}">
                            {% endif %}
                        </div>
                        <div class="ds-not-sidebar">

                            <h2>{{ party_name }}</h2>
                            <h4>
                                {{ ballot.election.nice_election_name }}
                                {% if not ballot.is_pcc and not ballot.is_mayoral %}: {{ ballot.friendly_name }}{% endif %}
                            </h4>

                            <dl class="ds-descriptions" style="border-style:none;">
                                <div>
                                    {% if local_party.facebook_page %}
                                        <dt>Facebook</dt>
                                        <dd>
                                            {% if local_party.facebook_page %}
                                                <a href="{{ local_party.facebook_page }}" title="{% blocktrans with party_name=local_party.name %}{{ party_name }}'s Facebook profile{% endblocktrans %}">
                                                    {{ local_party.facebook_page }}
                                                </a>
                                            {% endif %}
                                        </dd>
                                    {% endif %}

                                    {% if local_party.homepage %}
                                        <dt>{% trans "Home page" %}</dt>
                                        <dd>
                                            <a href="{{ local_party.homepage }}" title="{% blocktrans with party_name=local_party.name %}{{ party_name }}'s home page{% endblocktrans %}">
                                                {{ local_party.homepage }}
                                            </a>
                                        </dd>
                                    {% endif %}

                                    {% if local_party.email %}
                                        <dt>{% trans "Email" %}</dt>
                                        <dd><a href="mailto:{{ local_party.email }}">{{ local_party.email }}</a></dd>
                                    {% endif %}
                                </div>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% if manifesto %}
            <div class="ds-card">
                <div class="ds-card-body">
                    <h3>{% trans "Party manifesto" %}</h3>
                    <p>

                        {% blocktrans with party_name=party.party_name manifesto=manifesto|safe %}Find out more about the {{ party_name }} in their {{ manifesto }}.{% endblocktrans %}
                    </p>
                </div>
            </div>
        {% endif %}

        {% if local_party.twitter %}
            <div class="ds-card">
                <div class="ds-card-body">
                    <h3>{% trans "Latest tweets" %}</h3>
                    <div class="twitter_container">
                        <a data-width="100%" data-height="500" class="twitter-timeline" href="https://twitter.com/{{ object.twitter_username }}">
                            {% trans "Tweets by" %} @{{ object.twitter_username }}</a>
                        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="ds-card">
            <div class="ds-card-body">
                <h3>{% trans "Candidates" %}</h3>
                <ul class="ds-grid" style="--gridCellMin: 25ch">
                    {% for person in person_posts %}
                        {% include "elections/includes/_person_card.html" with person_post=person lists=True %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

{% endblock %}
