{% load humanize %}

<div class="ds-card" id="election_{{ referendum.slug }}">
    <div class="ds-card-body">

        <h1>
            <span aria-hidden="true">🗳️</span>
            {% blocktrans trimmed with council_name=referendum.council_name %}
                {{ council_name }} governance referendum
            {% endblocktrans %}
        </h1>

        <p>
            {% if referendum.is_election_day %}
                <strong>{% trans "Today" %}</strong>
            {% else %}
                On <strong>{{ referendum.date|date:"l j F Y" }}</strong>
            {% endif %},
            {% blocktrans trimmed with were_or_will_be=referendum.in_past|yesno:"were, will be" council_name=referendum.council_name %}
                voters in <strong>{{ council_name }}</strong> able to vote in a governance referendum.
            {% endblocktrans %}
        </p>
        {% if referendum.in_past %}
            <p>{% trans "The question on the ballot paper was:" %}</p>
        {% else %}
            <p>{% trans "The question you will be asked on the ballot paper is:" %}</p>
        {% endif %}

        {% blocktrans trimmed referendum_question=referendum.question referendum_answer_one=referendum.answer_one referendum_answer_two=referendum.answer_two %}
            <h4>{{ referendum_question}}</h4>
            <blockquote>{{ referendum.answer_one }}</blockquote> or <blockquote>{{ referendum_answer_two }}</blockquote>
        {% endblocktrans %}

        {% if referendum.council_url %}
            <p><a href="{{ referendum.council_url }}">
                {% blocktrans with council_name=referendum.council_name %}Find more information on the {{ council_name }} council website.{% endblocktrans %}</a></p>
        {% endif %}

        {% if referendum.campaign_urls %}
            <p>{% trans "Here are some other links about the campaign that we know about:" %}</p>
            <dl class="ds-descriptions">
                {% for url in referendum.campaign_urls %}
                    <div>
                        <dd><a href="{{ url }}">{{ url }}</a></dd>
                    </div>
                {% endfor %}
            </dl>
        {% endif %}
    </div>
</div>
