{% load humanize %}

<div class="card" id="election_{{ referendum.slug }}">

  <h1>
    <span aria-hidden="true">🗳️</span>
      {{ referendum.council_name }} referendum
    <span aria-hidden="true">🗳️</span>
  </h1>

  <p>On <strong>{{ referendum.date|naturalday:"l j F Y" }}</strong>, voters in <strong>{{ referendum.area_name }}</strong> will also be able to vote in a referendum.</p>
  <p>The question you will be asked on the ballot paper is:</p>

  <h4>{{ referendum.question}}</h4>
  <blockquote>{{ referendum.answer_one }}</blockquote> or <blockquote>{{ referendum.answer_two }}</blockquote>

  {% if referendum.council_url %}
    <p><a href="{{ referendum.council_url }}">You can find out more information on the {{ referendum.council_name }} website.</a></p>
  {% endif %}

  {% if referendum.campaign_urls %}
    <p>Here are some other links about the campaign that we know about:</p>
    <dl class="ds-descriptions">
      {% for url in referendum.campaign_urls %}
        <div>
          <dd><a href="{{ url }}">{{ url }}</a></dd>
        </div>
      {% endfor %}
    </dl>
  {% endif %}
</div>
