{% load humanize %}

<div class="ds-card" id="election_{{ referendum.slug }}">
    <div class="ds-card-body">

        <h1>
            <span aria-hidden="true">🗳️</span>
            {{ referendum.council_name }} governance referendum
        </h1>

        <p>
            {% if referendum.is_election_day %}<strong>Today</strong>{% else %}
                On <strong>{{ referendum.date|date:"l j F Y" }}</strong>{% endif %},
            voters in <strong>{{ referendum.council_name }}</strong>
            {% if referendum.in_past %}were{% else %}will be{% endif %} able to
            vote in a governance referendum.
        </p>
        {% if referendum.in_past %}
            <p>The question on the ballot paper was:</p>
        {% else %}
            <p>The question you will be asked on the ballot paper is:</p>
        {% endif %}

        <h4>{{ referendum.question}}</h4>
        <blockquote>{{ referendum.answer_one }}</blockquote> or <blockquote>{{ referendum.answer_two }}</blockquote>

        {% if referendum.council_url %}
            <p><a href="{{ referendum.council_url }}">Find more information on the {{ referendum.council_name }} website.</a></p>
        {% endif %}

        {% if referendum.campaign_urls %}
            <p>Here are some other links about the campaign that we know about:</p>
            <dl class="ds-descriptions">
                {% for url in referendum.campaign_urls %}
                    <div>
                        <dd><a href="{{ url }}">{{ url }}</a></dd>
                    </div>
                {% endfor %}
            </dl>
        {% endif %}
    </div>
</div>
