{% load i18n %}
<p>
    {% if postcode|first == 'S' %}
        {% trans "You will also be able to vote in a referendum" %}
    {% else %}
        {% trans "You may also be able to vote in a referendum" %}
    {% endif %}
</p>

<ul>
    {% for referendum in referendums %}
        <li {% if ballot.past_date %}class="past_elections" {% endif %}>

            <a href="#election_{{ referendum.slug }}">
                {% blocktrans with council_name=referendum.council_name %}{{ council_name }} referendum{% endblocktrans %}
                {% if ballot.post.label != post.election and not ballot.is_mayoral and not ballot.is_pcc %}
                    : {{ ballot.post.label }}
                {% endif %}
            </a>
            {% blocktrans trimmed with short_cancelled_message=ballot.short_cancelled_message_html %}
                {{ short_cancelled_message }}
            {% endblocktrans %}
        </li>
    {% endfor %}
</ul>
